// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#white {
  max-width: 93.5rem;
  margin: 0 auto;
  padding: 0 2rem;
}